{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} HOME {% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron bg-light p-3 mb-3">
                <h2>Manage <b> Employees </b> <button type="button" data-bs-toggle="modal"
                 data-bs-target="#mymodal" class="btn btn-outline-success float-end">Add Employee</button></h2>
            </div>

            {% with messages  = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
              <strong>{{message}}</strong>  
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}

            <table class="table table-hover table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                    {% for row in employees %}
                <tr>
                    <td>{{row.id }}</td>
                    <td>{{row.name }}</td>
                    <td>{{row.email }}</td>
                    <td>{{row.phone }}</td>
                    <td><a href="/update/{{row.id }}" class="btn btn-secondary btn-xs"
                           data-bs-toggle="modal" data-bs-target="#modaledit{{row.id }}">Edit</a>
                    <a href="/delete/{{row.id}}" class="btn btn-light btn-xs" onclick="return confirm('are you sure you want to delete ?')">Delete</a>
                    </td>
                </tr>

                <div id="modaledit{{row.id }}" class="modal" tabindex="-1" >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Update Employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{{url_for('update')}}" method="post">
                  <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="hidden" name="id" value="{{row.id }}"/>
                    <input type="text" class="form-control" name="name" value="{{row.name}}"  id="editName"/>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" name="email" value="{{row.email }}" id="editEmail" >
                  </div>
                    <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <input type="number" class="form-control" name="phone" value="{{row.phone }}" id="editPhone" >
                  </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Update</button>
                      </div>
                            </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </table>
        </div>



<div id="mymodal" class="modal" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('insert')}}" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" name="name"  id="name"/>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" name="email" id="email" >
  </div>
    <div class="mb-3">
    <label for="phone" class="form-label">Phone:</label>
    <input type="number" class="form-control" name="phone" id="phone" >
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Add Employee</button>
      </div>
            </form>
      </div>
    </div>
  </div>
</div>
    </div>
</div>
{% endblock %}